body{
    height: 550px;
}

.flick{
    position: relative;
    left: -80px;
}
#flogo{
    width: 80px;
    /* height: 50px; */
}

#fick {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.322);
    width: 100%;
    /* opacity: 0.6; */
}

.heed{
    position: relative;
    top: -50px;
}
.head p{
    text-align: center;
}
.caro-displaying{
    color: white;
    text-decoration: none;
     position: absolute; 
    top: 5px;
    /* right: 20px; */ 
    text-align: center;
    transform: translateX(-55px);
}

.caro-displaying:hover{
    text-decoration: underline;
    color: white;
}
#time {
    /* height: 100%; */
    height: 600px;
}
#log{
    padding-left: 80px;
}
#search{
    transform: translateX(30px);
}
.dark {
position: absolute;
bottom: 200px;
left: 30%;
color: white;
z-index: 100;
text-align: center;
}
.dark h1{
    font-size: 60px;
    /* text-align: center; */
}
#start {
    margin-right: 65px;
}
.policy{
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
}
.free{
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 130px;
    font-weight: 900;
}
#photo{
    border: none;
    width: 700px;
 }
.backimg{
    background-image: url('./images/background\ blue.jpg');
    background-size: cover;
    height: 100%;
    margin-top: -25px !important; 

}
.inp-holder{
    width: 28vw;
}
.form-control{
    border: 1px solid !important;
}
.login-logo{
    padding-top: 25px;
    margin-left: 150px;
    /* transform: translate(150px,20px); */
}
#log-sign{
    margin-top: 0px;
}

#down {
    padding-left: 455px;
}
.smug{
    margin-left: -30px;
}
#down1{
    margin-left: 48px;
}

#dot {
    margin-left: 170px;
    margin-top: 25px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    /* padding: 40px, 10px; */
    height: 10vh;  
} 

footer a:hover{
    color: white;
}
footer a{
    color: gray;
    text-decoration: none;
}
.connect{
    display: none;
    color: gray;
}
/* #flexd{
    gap: 30px;
} */
#face{
height: 30px;
/* gap: 20px; */
margin-right: 30px;
}

#sec:hover{
color: white;
}
#blue{
    height: 532px;
    width: 100%;
}
.input{
    position: absolute;
    background-color: white;
    height: 280px;
    width: 28%;
    transform: translate(450px, -440px);
    border-radius: 5px;
}
#next{
    color: white;
    background-color: #128fdc;
    width: 86%;
    margin: 30px 25px 25px 25px;
}
#list a{
    color: white;
}

#list{
    margin-top: -150px;
    position: absolute;
    margin-left: 450px;
}
#term{
    margin-left: 130px;
}
.Henry {
    position: absolute;
    margin-top: -40px;
    color: white;
    margin-left: 1020px;
}
/* #blue2{
    position: fixed;
    height: 532px;
    width: 100%;
} */
.sign{
    position: absolute;
    background-color: white;
    /* height: 535px; */
    width: 28%;
    left: 35%;
    top: 62px;
    border-radius: 5px;
}
#eng-sec{
    position: absolute;
    bottom: -120px;
    margin-left: 440px;
}
.Henry-sec{
    position: fixed;
    bottom: 15px;
    right: 10px;
    color: white;
}
.lish {
    color: white;
}

.he {
    color: white;
}
.no-padding{
    padding: 10px;
}

   